Pods/
Podfile.lock
.DS_Store
AdsGoogle.xcworkspace/xcuserdata
AdsGoogle/AdsGoogle.xcodeproj/xcuserdata/
ExampleNative/ExampleNative.xcodeproj/xcuserdata/
ExampleInterstitial/ExampleInterstitial.xcodeproj/xcuserdata/